.infos-container{
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 10px;
    width: 30%;
}

.infos-container img{
    max-width: 100%;
    border-radius: 5px;
    height: 200px;
}

.infos-container h2,
.infos-container p{
    margin-bottom: 16px;
}

.infos-container h2{
    font-size: 25px;
    margin-top: 16px;
    font-family: 'Oswald', serif;
    transition: 0.5s;
}

.infos-container h2:hover{
    color: #F2561D;
}

.infos-container p span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.infos-container p{
    font-family: "Roboto Serif", serif;
    font-size: 13px;
    line-height: 19px;

}